<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <style>
        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: white;
        }
    </style>

</head>

<body>
    <div class="alert alert-warning" role="alert">
        Please select atleast one <strong>Actions</strong>.
    </div>
    <div class="container">
        <div>
            <h1>Error!</h1><br>
            <h2>Please Try again</h2>
            <h3>Reason:{{a}}</h3>
        </div>
        <div>

            <button class="btn btn-primary"><a href="/"> HOME </a></button>
        </div>

    </div>

</body>

</html>